<div class="functions">
    <div class="gallery" id="gallery">
        <div class="gallery-item">
          <div class="card1">
            <div class="card">
              <h3>Parking</h3>
              <p>Encontrar tu carro en el parqueadero del Centro Comercial ya no será un dolor de cabeza.</p>
            </div>
          </div>
        </div>

        <div class="gallery-item">
          <div class="card2">
            <div class="card">
              <h3>Fácil manejo</h3>
              <p>Esta App es tan fácil manejarla que hasta un niño lo puede hacer.</p>
            </div>
          </div>
        </div>

        <div class="gallery-item">
          <div class="card3">
            <div class="card">
              <h3>Promociones</h3>
              <p>Si te encanta estar enterado de las promociones de tus marcas favoritas, esta es la App indicada para ti.</p>
            </div>
          </div>
        </div>

        <div class="gallery-item">
          <div class="card4">
            <div class="card">
              <h3>Cines</h3>
              <p>Si quieres saber el horario y el lugar de la película que quieres verte, descarga MallTopic.</p>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card5">
            <div class="card">
              <h3>Moda</h3>
              <p>Encuentra las colecciones de tus marcas favoritas.</p>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card6">
            <div class="card">
              <h3>Conéctate</h3>
              <p>Comparte con tus amigos los que más te llama la atención de MallTopic App.</p>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card7">
            <div class="card">
              <h3>Información</h3>
              <p>Con esta App podrás estar actualizado de toda la información de tu Centro Comercial favorito.</p>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <div class="card8">
            <div class="card">
              <h3>¡Gratis!</h3>
              <p>Esta aplicación puedes descargarla gratis para Android, iPhone y Windows Phone.</p>
            </div>
          </div>
        </div>
    </div>
</div>
