*{
  margin: 0;
  padding: 0;
}

.card1{
  height: 600px;
  background-size: cover;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../../assets/img/funciones/card1.jpg);

    .card{
      border: transparent;
      color: white;
      background: transparent;
      padding: 26px;
      padding-top: 340px;

      h3{
        font-size: 37px;
        font-weight: 500;
        font-family: 'Encode Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
      }

      p{
        padding-top: 30px;
        font-size: 20px;
        font-family: 'Encode Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
      }
    }


}

.card2{
  height: 400px;
  background-size: cover;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://images.unsplash.com/photo-1534484374439-6b8cd79be97c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a627dedc64d2c2f613a0bf934c815f07&auto=format&fit=crop&w=634&q=80);

    .card{
      border: transparent;
      color: white;
      background: transparent;
      padding: 26px;
      padding-top: 200px;

      h3{
        font-size: 37px;
        font-weight: 500;
        font-family: 'Encode Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
      }

      p{
        padding-top: 30px;
        font-size: 20px;
        font-family: 'Encode Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
      }
    }


}

.card3{
  height: 700px;
  background-size: cover;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../../assets/img/funciones/shoping.jpg);

    .card{
      border: transparent;
      color: white;
      background: transparent;
      padding: 26px;
      padding-top: 430px;

      h3{
        font-size: 37px;
        font-weight: 500;
        font-family: 'Encode Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
      }

      p{
        padding-top: 30px;
        font-size: 20px;
        font-family: 'Encode Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
      }
    }


}

.card4{
  height: 300px;
  background-size: cover;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../../assets/img/funciones/cinema.jpg);

    .card{
      border: transparent;
      color: white;
      background: transparent;
      padding: 26px;
      padding-top: 110px;

      h3{
        font-size: 37px;
        font-weight: 500;
        font-family: 'Encode Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
      }

      p{
        padding-top: 30px;
        font-size: 20px;
        font-family: 'Encode Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
      }
    }


}

.card5{
  height: 500px;
  background-size: cover;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://images.unsplash.com/photo-1532453288672-3a27e9be9efd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2c88805702ee1d6271b88910c3ccbcf8&auto=format&fit=crop&w=700&q=80);

    .card{
      border: transparent;
      color: white;
      background: transparent;
      padding: 26px;
      padding-top: 320px;

      h3{
        font-size: 37px;
        font-weight: 500;
        font-family: 'Encode Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
      }

      p{
        padding-top: 20px;
        font-size: 20px;
        font-family: 'Encode Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
      }
    }


}


.card6{
  height: 500px;
  background-size: cover;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://images.unsplash.com/photo-1534193571285-c17c8c22a22c?ixlib=rb-0.3.5&s=babb665b24e35129dd36c80518289672&auto=format&fit=crop&w=658&q=80);

    .card{
      border: transparent;
      color: white;
      background: transparent;
      padding: 26px;
      padding-top: 310px;

      h3{
        font-size: 37px;
        font-weight: 500;
        font-family: 'Encode Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
      }

      p{
        padding-top: 30px;
        font-size: 20px;
        font-family: 'Encode Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
      }
    }


}


.card7{
  height: 400px;
  background-size: cover;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../../assets/img/funciones/info.jpg);

    .card{
      border: transparent;
      color: white;
      background: transparent;
      padding: 26px;
      padding-top: 0px;

      h3{
        font-size: 37px;
        font-weight: 500;
        font-family: 'Encode Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
      }

      p{
        padding-top: 30px;
        font-size: 20px;
        font-family: 'Encode Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
      }
    }


}


.card8{
  height: 600px;
  background-size: cover;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../../assets/img/funciones/gratis.png);

    .card{
      border: transparent;
      color: white;
      background: transparent;
      padding: 26px;
      padding-top: 340px;

      h3{
        font-size: 37px;
        font-weight: 500;
        font-family: 'Encode Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
      }

      p{
        padding-top: 30px;
        font-size: 20px;
        font-family: 'Encode Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
      }
    }


}


.functions{
  height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

.gallery{
  margin-top: 1rem;
}

.masonry-layout {
  --columns: 1;
  --gap: 1rem;
  $columns: 6;

  display: grid;
  grid-template-columns: repeat(var(--columns),1fr);
  grid-gap: var(--gap);

  .masonry-item{
    margin-bottom: var(--gap);
  }

  @for $i from 1 through $columns {
    &.columns-#{$i}{
      --columns: #{$i};
    }
  }
}
