*{
  margin: 0;
  padding: 0;
}

.functions{
  height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

.gallery{
  margin-top: 30px;
}

.masonry-layout {
  --columns: 1;
  --gap: 1rem;
  $columns: 6;

  display: grid;
  grid-template-columns: repeat(var(--columns),1fr);
  grid-gap: var(--gap);

  .masonry-item{
    margin-bottom: var(--gap);
  }

  @for $i from 1 through $columns {
    &.columns-#{$i}{
      --columns: #{$i};
    }
  }
}
