.header{
  background: linear-gradient(to right, #329031, #95ca2a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  font-family: 'Encode Sans', sans-serif;
  font-family: 'Poppins', sans-serif;

  img{
    height: 90%;
    width: 90%;
    margin-top: 13%;
    margin-left: 13%;
  }

  .card{
    background: rgba(00, 0, 0, 0.5);
    border: transparent;
    margin-top: 35%;
    margin-right: 120px;
    padding: 30px;

    h1{
      color: #fff;
      font-weight: bold;
    }

    p{
      color: #fff;
      font-size: 22px;
      padding-right: 90px;
    }

    .btn-primary{
      border-radius: 50px;
      background: #4a1757;
      border: 1px solid #4a0b5a;
      color: white;
      width: 50%;
      margin: 0 auto;



      &:hover{
        background: #6d237f;
        border: 1px solid #4a0b5a;
      }
    }
  }
}
