.header{
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.363),
      rgba(0, 0, 0, 0.397)
    ),
    url(../../../assets/img/Medellin.jpg);
  background-size: cover;
  height: 100vh;
  font-family: 'Encode Sans', sans-serif;
  font-family: 'Poppins', sans-serif;

  img{
    height: 95%;
    width: 95%;
    margin-top: 13%;
    margin-left: 7%;
  }

  .card{
    background: #3390319a;
    border: transparent;
    margin-top: 35%;
    margin-right: 120px;
    padding: 30px;

    h1{
      color: #fff;
      font-weight: bold;
    }

    p{
      color: #fff;
      font-size: 22px;
      padding-right: 90px;
    }

    .btn-primary{
      border-radius: 50px;
      background: #4a1757;
      border: 1px solid #4a0b5a;
      color: white;
      width: 60%;
      margin: 0 auto;



      &:hover{
        background: #6d237f;
        border: 1px solid #4a0b5a;
      }
    }
  }
}
