<div class="container-fluid header">
  <div class="row">
    <div class="col-6">
      <img src="../../../assets/img/PEJ5Q01.png" alt="">
    </div>
    <div class="col-6">
      <div class="card shadow-lg">
        <h1>Beacons Tour</h1>
        <p>mas que una aplicacion es una nueva forma de vivir nuestra ciudad y descubrir
          nuevos lugares, eventos, parques,comercios, y sobre todo nuestro sistema metro</p>
          <a href="#function" class="btn btn-primary shadow">Descubramos Beacons-tour</a>
      </div>
    </div>
  </div>
</div>
