.objetivo{
  height: 100vh;
  background: url(../../../assets/img/comunication.png);
  background-size: cover;

  img{
    margin-top: 30px;
    margin-left: 80px;
    height: 75vh;
    bottom: 0 !important;
  }

  .card{
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: #339031c5;
    border: 1px solid transparent;
    margin-top: 100px;
    margin-right: 15%;
    padding: 40px;
    transform: rotate(10deg) !important;

    h1{
      font-weight: bold;
      font-size: 50px;
    }

    p{
      font-size: 16px;
    }
  }

}
