.galery{
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1523365237953-9f36b3c8cada?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f2f12bd2ec524ffd1682384a884c0aea&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;



  .brick {
    width: 33%;
   }
}
